header {
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 7px;
}

nav {
    list-style: none; /* remove bullet points */
}
  
nav li {
    display: inline-block;
}
  
nav a {
    color: white;
    text-decoration: none;
    margin: 0 35px;
}
