header {
    background-color: darkcyan;
    background-image: repeating-linear-gradient(45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 5px, transparent 5px, transparent 10px);
    color: white;
    text-align: center;
    padding: 7px;
    border: 5px solid black;
  }
  

nav {
    list-style: none; /* remove bullet points */
}
  
nav li {
    display: inline-block;
}
  
nav a {
    color: white;
    text-decoration: none;
    margin: 0 35px;
}

/*About me styling*/
#about-me {
    position: relative;
  }
  
  #about-me h2 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: red;
    opacity: 0.3;
    font-size: 35px;
  }
  
  #about-me p {
    position: relative;
    z-index: 1;
  }
  

/*My work Styling*/
